---
published: Thu Dec 22 06:37:49 +0000 2011
next: '151904358626365441'
---

Apparently train is 3 minutes late. SBB train crew apologized and asked passengers for pardon.

Your delay shall be forgiven!
