# https://pnpm.io/npmrc#registry
registry=https://registry.npmjs.org/
@maiertech:registry=https://npm.pkg.github.com/

# https://pnpm.io/npmrc#url_authtoken
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}

# https://pnpm.io/settings#minimumreleaseage
minimum-release-age=1440
minimum-release-age-exclude[]=@maiertech/sveltekit-helpers
