@import 'ui/app.css';

/* Styles for syntax highlighting. */
@import 'svelte-highlight/styles/a11y-light.css' (prefers-color-scheme: light);
@import 'svelte-highlight/styles/a11y-dark.css' (prefers-color-scheme: dark);

/* Code examples. */
pre {
	width: 100%;
	tab-size: 2;
}

input {
	background-color: var(--surface-2);
	padding-inline: var(--size-4);
	padding-block: var(--size-2);
}

input:focus-visible {
	outline-offset: 0;
}

input::placeholder {
	color: var(--text-2);
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
