*,
::before,
::after {
	box-sizing: border-box;
}

:where(:not(dialog)) {
	margin: 0;
}

:where(:not(fieldset, progress, meter)) {
	border-width: 0;
	border-style: solid;
	background-origin: border-box;
	background-repeat: no-repeat;
}

:where(html) {
	block-size: 100%;
	font-family: var(--font-sans);
	line-height: var(--font-lineheight-3);
	-webkit-text-size-adjust: none; /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
	color: var(--text-1);
	background-color: var(--surface-1);
}

@media (prefers-reduced-motion: no-preference) {
	:where(html) {
		scroll-behavior: smooth;
	}
}

:where(body) {
	min-block-size: 100%;
}

:where(h1, h2, h3, h4, h5, h6) {
	line-height: var(--font-lineheight-0);
	font-weight: var(--font-weight-7);
}

:where(h1) {
	font-size: var(--font-size-8);
	/* max-inline-size: var(--size-header-1); */
}

:where(h2) {
	font-size: var(--font-size-6);
	/* max-inline-size: var(--size-header-2); */
}

:where(h3) {
	font-size: var(--font-size-5);
}

:where(h4) {
	font-size: var(--font-size-4);
}

:where(h5) {
	font-size: var(--font-size-3);
}

:where(h3, h4, h5, h6, dt) {
	max-inline-size: var(--size-header-3);
}

:where(p, ul, ol, dl, h6) {
	font-size: var(--font-size-2);
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
	display: block;
}

:where(img, svg, video) {
	max-inline-size: 100%;
	block-size: auto;
}

.table {
	max-width: 100%;
	overflow: hidden;
	overflow-x: auto;
}

table {
	border: var(--border-size-2) solid var(--text-2);
	border-collapse: collapse;
}

th {
	border: var(--border-size-1) solid var(--text-2);
	background-color: var(--surface-3);
	font-weight: var(--font-weight-5);
	text-align: start;
	white-space: nowrap;
	padding-inline: var(--size-3);
	padding-block: var(--size-2);
}

td {
	border: var(--border-size-1) solid var(--text-2);
	white-space: nowrap;
	padding-inline: var(--size-3);
	padding-block: var(--size-2);
}
