# You need the following environment variables for development, preview and production.

# /sitemap.xml, /rss.xml, and SEO components.
PUBLIC_CANONICAL_ORIGIN=https://www.maier.tech

# Analytics.
PUBLIC_FATHOM_SITE_ID=fathom_site_id

# EmailOctopus API.
EO_API_KEY=api_key
EO_LIST_ID=list_id

# GitHub API (not required for GitHub Actions).
GITHUB_TOKEN=token

# imgIX client.
IMGIX_DOMAIN=example.imgix.net
IMGIX_TOKEN=token

# Turborepo.
TURBO_TEAM=team_id
TURBO_TOKEN=token
