name: CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  ORIGIN: ${{ vars.ORIGIN }}
  RAILWAY_GIT_COMMIT_SHA: ${{ vars.RAILWAY_GIT_COMMIT_SHA }}
  VIRALCARDS_API_KEY: ${{ secrets.VIRALCARDS_API_KEY }}

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: pnpm/action-setup@v4
        with:
          version: latest

      - uses: actions/setup-node@v5
        with:
          node-version: 'lts/*'
          cache: 'pnpm'

      - run: pnpm i --frozen-lockfile

      - run: pnpm run lint

      - run: pnpm build # Generate content collections prior to running `svelte-check`.

      - run: pnpm run check

      # - name: Install Playwright Chromium
      #   run: pnpm exec playwright install --with-deps chromium

      # - run: pnpm test:unit
